/*-------------- GOOGLE FONTS --------------*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

/*-------------- VARIABLES CSS --------------*/
:root{
    --headerHeight: 3.5rem;
    /*-------------- Colors --------------*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --firstColor: #dfaa4e;
  --textColor: #161513;

  /*-------------- Font and typography --------------*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --bodyFont: 'Space Grotesk', sans-serif;
  --biggestFontSize: 2.375rem;
  --normalFontSize: .938rem;
  --smallerFontSize: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggestFontSize: 5rem;
    --normalFontSize: 1rem;
    --smallerFontSize: .813rem;
  }
}

/*-------------- BASE --------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    color: var(--textColor);
    font-weight: 500;
    background-color: var(--firstColor);

}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--textColor);
}
img{
    width: 100%;
}
/*-------------- REUSABLE CSS CLASSES --------------*/

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden;
 /* For the animations ScrollReveal */
}
/*-------------- HEADER & NAV --------------*/
.header {
    height: var(--headerHeight);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 0;
}
.logo{
    font-weight: 700;
    font-size: 1.2rem;
}
@media screen and (max-width:767px) {
    .navList{
        background-color: var(--firstColor);
        width: 100%;
        z-index: 1000;
        position: fixed;
        top: -100%;
        left: 0;
        padding: 4rem 0 2rem;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: #161513bd 0 0 25px -5px;
        transition: .4s;
    }
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    font-size: 1.2rem;
}
.navClose{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.7rem;
    cursor: pointer;

}

.navBottom{
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
}

/* Show menu */
.showMenu{
    top: 0;
}

/*-------------- HOME --------------*/

.home{
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}
.homeContainer{
    display: grid;
  align-content: center;
  row-gap: 2.5rem;
}
.homeData{
    text-align: center;

}
.homeTitle {
    font-size: var(--biggestFontSize);
    margin: .5rem;
}
.homeButton{
    background-color: var(--textColor);
    padding:  .3rem 1.5rem;
    border-radius: 2rem;
    color: #fff;
    display: inline-block;
    margin: 1rem;
}
.homeImg {
    justify-self: center;
}
img{
    width: 240px;
    animation: floaty 1.8s infinite alternate;
}
.homeShadow{
    width: 130px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(87, 75, 75, 0.303);
    filter: blur(7px);
    margin:0 auto;
    animation: shadow 1.8s infinite alternate;
}
.homeFooter{
    font-size: var(--smallerFontSize);
    display: flex;
    justify-content: center;
  column-gap: .5rem;
align-items: flex-end;
}
.hide{
    transform: inherit !important;
}
/* Animate ghost */
@keyframes floaty {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
}
@keyframes shadow {
    0%{
        transform: scale(1,1);
    }
    100%{
        transform:  scale(.85,.85);
    }
}
/*-------------- BREAKPOINTS -------------*/
/* for small screen */
@media screen and (max-width: 360px) {
    body{
        zoom: .8;
    }
    .home{
        height: 817px;
        padding: 7rem 0 2rem;
    }
}
/* for medium screen */
@media screen and (min-width: 767px) {
    .nav {
    height: calc(var(--header-height) + 1.5rem);
    }
    .navBottom,
    .navClose{
        display: none;
    }
    .list{
        flex-direction: row;
        column-gap: 3.5rem;
    }
    img{
        width: 400px;
    }
    .homeShadow{
        width: 250px;
        height: 40px;
    }
}
/* For large devices */
@media screen and (min-width: 1024px) {
    .container{
        margin: auto;
    }
    .homeContainer{
        grid-template-columns: repeat(2,1fr);
        column-gap: 3.5rem;
    }
    .homeData{
        text-align: initial;
        margin: auto;
    }
    .homeTitle{
        margin-left: 0 ;
    }
    .nav{
        width: 90%;
        margin-left: auto;
    }
}
/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
    padding: 7.5rem 0 2rem;
  }
}
/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
    body {
    zoom: 3.1;
    }
    .home {
    row-gap: 5.2rem;
  }
}